{% extends "plantilla.html" %}

{% block body %}

<h1>EDIT ORGANIZER</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'update_organizer' id=organizer.id %}" method="post" id="frm_organizer">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ organizer.id }}">

                <label for="name"><b>Organizer Name:</b></label>
                <input type="text" name="name" class="form-control" value="{{ organizer.name }}" id="name" placeholder="Enter the organizer's name">

                <label for="entity"><b>Entity:</b></label>
                <input type="text" name="entity" class="form-control" value="{{ organizer.entity }}" id="entity" placeholder="Enter the organizer's entity">

                <label for="description"><b>Description:</b></label>
                <textarea name="description" class="form-control" id="description" placeholder="Enter a description of the organizer">{{ organizer.description }}</textarea>

                <label for="contact"><b>Contact:</b></label>
                <input type="text" name="contact" class="form-control" value="{{ organizer.contact }}" id="contact" placeholder="Enter the organizer's contact">

                <label for="email_contact"><b>Contact Email:</b></label>
                <input type="email" name="contact_email" class="form-control" value="{{ organizer.contact_email }}" id="contact_email" placeholder="Enter the contact email">

                <label for="website"><b>Website:</b></label>
                <input type="url" name="website" class="form-control" value="{{ organizer.website }}" id="website" placeholder="Enter the organizer's website">

                <br>
                <button type="submit" class="btn btn-warning">Update</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'list_organizers' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#frm_organizer').validate({
        rules: {
            name: {
                required: true,
                minlength: 3,
                maxlength: 255,
            },
            entity: {
                required: true,
                minlength: 3,
            },
            description: {
                required: true,
                minlength: 10,
            },
            contact: {
                required: false,
            },
            email_contact: {
                required: true,
                email: true,
            },
            website: {
                required: false,
                url: true,
            },
        },
        messages: {
            name: {
                required: 'The organizer name is required',
                minlength: 'The name must be at least 3 characters long',
                maxlength: 'The name must be less than 255 characters long',
            },
            entity: {
                required: 'The entity is required',
                minlength: 'The entity must be at least 3 characters long',
            },
            description: {
                required: 'The description is required',
                minlength: 'The description must be at least 10 characters long',
            },
            email_contact: {
                required: 'The email address is required',
                email: 'Please enter a valid email address',
            },
            website: {
                url: 'Please enter a valid URL',
            },
        },
    });
</script>

{% endblock %}
