{% extends "plantilla.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'save_organizer' %}" method="post" id="frm_organizer">
                {% csrf_token %}
                
                <label for="name">Organizer Name: <br></label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter the organizer's name">

                <label for="entity">Entity: <br></label>
                <input type="text" name="entity" class="form-control" id="entity" placeholder="Enter the organizer's entity">

                <label for="description">Description: <br></label>
                <textarea name="description" class="form-control" id="description" placeholder="Enter a description of the organizer"></textarea>

                <label for="contact">Contact: <br></label>
                <input type="text" name="contact" class="form-control" id="contact" placeholder="Enter the organizer's contact">

                <label for="email_contact">Contact Email: <br></label>
                <input type="email" name="contact_email" class="form-control" id="email_contact" placeholder="Enter the contact email">

                <label for="website">Website: <br></label>
                <input type="url" name="website" class="form-control" id="website" placeholder="Enter the organizer's website">

                <br>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#frm_organizer').validate({
        rules: {
            name: {
                required: true,
                minlength: 3,
                maxlength: 255,
            },
            entity: {
                required: true,
                minlength: 3,
            },
            description: {
                required: true,
                minlength: 10,
            },
            contact: {
                required: false,
            },
            email_contact: {
                required: true,
                email: true,
            },
            website: {
                required: false,
                url: true,
            },
        },
        messages: {
            name: {
                required: 'The organizer name is required',
                minlength: 'The name must be at least 3 characters long',
                maxlength: 'The name must be less than 255 characters long',
            },
            entity: {
                required: 'The entity is required',
                minlength: 'The entity must be at least 3 characters long',
            },
            description: {
                required: 'The description is required',
                minlength: 'The description must be at least 10 characters long',
            },
            email_contact: {
                required: 'The email address is required',
                email: 'Please enter a valid email address',
            },
            website: {
                url: 'Please enter a valid URL',
            },
        },
    });
</script>

{% endblock %}
