{% extends "plantilla.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'save_audit' %}" method="post" id="frm_audit">
                {% csrf_token %}
                
                <label for="date">Date: <br></label>
                <input type="datetime-local" name="date" class="form-control" id="date">

                <label for="description">Description: <br></label>
                <textarea name="description" class="form-control" id="description" placeholder="Enter a description"></textarea>

                <label for="user">User: <br></label>
                <input type="text" name="user" class="form-control" id="user" placeholder="Enter the user name">

                <label for="gender">Gender: <br></label>
                <select name="gender" class="form-control" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <br>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#frm_audit').validate({
        rules: {
            date: {
                required: true,
                date: true,
            },
            description: {
                required: true,
                minlength: 10,
            },
            user: {
                required: true,
                minlength: 3,
            },
            gender: {
                required: true,
            },
        },
        messages: {
            date: {
                required: 'Date is required',
                date: 'Please enter a valid date',
            },
            description: {
                required: 'Description is required',
                minlength: 'Description must be at least 10 characters long',
            },
            user: {
                required: 'User is required',
                minlength: 'User name must be at least 3 characters long',
            },
            gender: {
                required: 'Gender is required',
            },
        },
    });
</script>
{% endblock %}
