{% extends "plantilla.html" %}
{% block body %}

<h1>EDIT LOCATION</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'update_location' id=location.id %}" method="post" id="frm_location">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ location.id }}">
                
                <label for="name"><b>Location Name:</b></label>
                <input type="text" name="name" class="form-control" value="{{ location.name }}" id="name" placeholder="Enter the location name">

                <label for="address"><b>Address:</b></label>
                <input type="text" name="address" class="form-control" value="{{ location.address }}" id="address" placeholder="Enter the location address">

                <label for="description"><b>Description:</b></label>
                <textarea name="description" class="form-control" id="description" placeholder="Enter a description of the location">{{ location.description }}</textarea>

                <br>
                <button type="submit" class="btn btn-warning">Update</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'list_locations' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#frm_location').validate({
        rules: {
            name: {
                required: true,
                minlength: 3,
                maxlength: 255,
            },
            address: {
                required: true,
                minlength: 5,
            },
            description: {
                required: true,
                minlength: 10,
            },
        },
        messages: {
            name: {
                required: 'The location name is required',
                minlength: 'The name must be at least 3 characters long',
                maxlength: 'The name must be less than 255 characters long',
            },
            address: {
                required: 'The address is required',
                minlength: 'The address must be at least 5 characters long',
            },
            description: {
                required: 'The description is required',
                minlength: 'The description must be at least 10 characters long',
            },
        },
    });
</script>

{% endblock %}
