{% extends "plantilla.html" %}
{% block body %}

<h1>EDIT ARTIST</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'update_artist' id=artist.id  %}" method="post" enctype="multipart/form-data" id="frm_artist">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ artist.id }}">
                
                <label for="name"><b>Artist Name:</b></label>
                <input type="text" name="name" class="form-control" value="{{ artist.name }}" id="name" placeholder="Enter the artist's name">

                <label for="description"><b>Description:</b></label>
                <textarea name="description" class="form-control" id="description" placeholder="Enter a description of the artist">{{ artist.description }}</textarea>

                <label for="phone"><b>Phone:</b></label>
                <input type="text" name="phone" class="form-control" value="{{ artist.phone }}" id="phone" placeholder="Enter the artist's phone number">

                <label for="email"><b>Email:</b></label>
                <input type="email" name="email" class="form-control" value="{{ artist.email }}" id="email" placeholder="Enter the artist's email">

                <label for="social_media"><b>Social Media:</b></label>
                <textarea name="social_media" class="form-control" id="social_media" placeholder="Enter the artist's social media">{{ artist.social_media }}</textarea>

                <label for="website"><b>Website:</b></label>
                <input type="url" name="website" class="form-control" value="{{ artist.website }}" id="website" placeholder="Enter the artist's website">

                <br>
                <button type="submit" class="btn btn-warning">Update</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'list_artists' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#frm_artist').validate({
        rules: {
            name: {
                required: true,
                minlength: 3,
                maxlength: 255,
            },
            description: {
                required: true,
                minlength: 10,
            },
            phone: {
                required: false,
                minlength: 7,
                maxlength: 15,
            },
            email: {
                required: true,
                email: true,
            },
            social_media: {
                required: false,
            },
            website: {
                required: false,
                url: true,
            },
        },
        messages: {
            name: {
                required: 'Artist name is required',
                minlength: 'Name must be at least 3 characters long',
                maxlength: 'Name must be less than 255 characters long',
            },
            description: {
                required: 'Description is required',
                minlength: 'Description must be at least 10 characters long',
            },
            phone: {
                minlength: 'Phone number must be at least 7 characters long',
                maxlength: 'Phone number must be less than 15 characters long',
            },
            email: {
                required: 'Email is required',
                email: 'Please enter a valid email address',
            },
            website: {
                url: 'Please enter a valid URL',
            },
        },
    });
</script>

{% endblock %}
