{% extends "plantilla.html" %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'save_artist' %}" enctype="multipart/form-data" method="post" id="frm_artist">
                {% csrf_token %}
                
                <label for="nombre">Artist Name: <br></label>
                <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Enter the artist's name">

                <label for="descripcion">Description: <br></label>
                <textarea name="descripcion" class="form-control" id="descripcion" placeholder="Enter a description of the artist"></textarea>

                <label for="telefono">Phone: <br></label>
                <input type="text" name="telefono" class="form-control" id="telefono" placeholder="Enter the artist's phone number">

                <label for="email">Email: <br></label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter the artist's email">

                <label for="redes_sociales">Social Media: <br></label>
                <textarea name="redes_sociales" class="form-control" id="redes_sociales" placeholder="Enter the artist's social media"></textarea>

                <label for="sitio_web">Website: <br></label>
                <input type="url" name="sitio_web" class="form-control" id="sitio_web" placeholder="Enter the artist's website">

                <br>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $.validator.addMethod('lettersonly', function (value, element) {
        return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
    }, 'Only letters are allowed in this field');

    $('#frm_artist').validate({
        rules: {
            nombre: {
                required: true,
                minlength: 3,
                maxlength: 255,
            },
            descripcion: {
                required: true,
                minlength: 10,
            },
            telefono: {
                required: false,
                minlength: 7,
                maxlength: 15,
            },
            email: {
                required: true,
                email: true,
            },
            redes_sociales: {
                required: false,
            },
            sitio_web: {
                required: false,
                url: true,
            },
        },
        messages: {
            nombre: {
                required: 'Artist name is required',
                minlength: 'The name must be at least 3 characters long',
                maxlength: 'The name must be less than 255 characters',
            },
            descripcion: {
                required: 'Description is required',
                minlength: 'The description must be at least 10 characters long',
            },
            telefono: {
                minlength: 'Phone number must be at least 7 characters long',
                maxlength: 'Phone number must be less than 15 characters long',
            },
            email: {
                required: 'Email is required',
                email: 'Please enter a valid email address',
            },
            sitio_web: {
                url: 'Please enter a valid URL',
            },
        },
    });
</script>

{% endblock %}
